/* For Tablets */
@media all and (max-width: 1000px) {
    .container {
        width: 900px;
        margin: 0 auto
    }

    .column {
      width: 50%;
      margin-bottom: 50px;
    }

    article {
        width: fit-content;
    }

    .about-us {
        width: fit-content;
    }

    article img {
        height: 100px;
        width: 100px;
    }

    .about-us img {
        height: 100px;
        width: 100px;
    }

    q {
        width: fit-content;
    }

    .about-us p {
        width: fit-content;
    }

    .dot {
        height: 5px;
        width: 5px;
    }
  
    .top-wrapper h1 {
      font-size: 32px;
    }

    .header-right {
        display: none;
    }
    .header-left {
        display: none;
    }
    
    .menu-icon {
        display: block !important;
    }
  }
  
  /* For Smartphones */
  @media all and (max-width: 670px) {
    .container {
        width: 500px;
        margin: 0 auto
    }
    
    .column {
      width: 100%;
    }
  
    .top-wrapper {
      text-align: left;
    }
  
    .header-right {
      display: none;
    }
    .header-left {
        display: none;
    }
  
    .menu-icon {
      display: block !important;
    }
  
    .top-wrapper h1 {
      padding-left: 10px;
      font-size: 24px;
      line-height: 36px;
    }
  
    .top-wrapper p {
        padding-left: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .dot {
        height: 5px;
        width: 5px;
    }

    article {
        width: fit-content;
    }

    .about-us {
        width: fit-content;
    }

    q {
        width: fit-content;
    }

    .about-us p {
        width: fit-content;
    }

    article img {
        height: 100px;
        width: 100px;
    }

    .about-us img {
        height: 100px;
        width: 200px;
    }
  }
  